@{
    ViewData["Title"] = "Create / Edit";
}

@model SpendSmart.Models.Expense

<div class="text-center">
    <h1 class="display-4">Create or Edit an Expense</h1>
</div>

<form asp-action="ExpenseForm" asp-controller="Home">
    <!-- Hidden field for Id -->
    <input hidden class="form-control" type="number" placeholder="0" asp-for="Id" />

    <!-- Label for Value input field -->
    <label class="mt-4">Value $</label>
    <!-- Input field for the monetary value of the expense -->
    <input class="form-control" type="number" placeholder="0" asp-for="Value" step="0.01" />

    <!-- Label for Description input field -->
    <label class="mt-4">Description</label>
    <!-- Input field for the description of the expense -->
    <input class="form-control" type="text" placeholder="Add a description" asp-for="Description" />

    <!-- Display validation message for Description field -->
    <span asp-validation-for="Description" class="text-danger"></span>

    <!-- Submit button for the form -->
    <button class="btn btn-primary mt-4" type="submit">Ok</button>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

